.submit-buttons {
    width: fit-content;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
}

.submit-button {
    display: inline-block;
}

.question-container {
    padding: 0.5em;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 8em;
}

.answer-container {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.4em;
}

.empty-state {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 8em;
}