.env
/node_modules
todo.txt
/client/static/css/foundation.css
/client/static/css/jquery.fullPage.css
/client/static/js/foundation.js
/client/static/js/jquery-3.3.1.js
/client/static/js/jquery.fullpage.js
/client/static/js/p5.min.js
/client/static/js/socket.io.js
/client/static/js/swal.js
/client/static/css/material-components-web.min.css
/client/static/js/material-components-web.min.js
dashboard_admin.css
dashboard_admin.html
dashboard_admin.js