.env
/node_modules
todo.txt
/client/static/css/jquery.fullPage.css
/client/static/js/jquery-3.3.1.js
/client/static/js/jquery.fullPage.js
/client/static/js/jquery.fullPage.full.js
/client/static/js/p5.min.js
/client/static/js/socket.io.js
/client/static/js/swal.js
/client/static/css/material-components-web.min.css
/client/static/js/material-components-web.min.js
dashboard_admin.css
dashboard_admin.html
dashboard_admin.js
/client/portfolio
/client/static/scss/portfolio-bundle.scss
/client/static/scss/portfolio-variables.scss
/client/static/js/portfolio-bundle.js
/client/static/css/portfolio-bundle.css
/client/static/css/portfolioBundle.js
/server/demos
/server/python/deploy.py
keywords.js
tests.js
/tests
ecosystem.config.js

.idea/
.vscode/
node_modules/
build/
tmp/
temp/
ormconfig.json
deploy.bat