@import "material-theme.scss";

#logOutBtn {
    position: relative;
    display: block;
    bottom: -54%;
    margin: 0 auto 0 auto
}

#tatkoBtn {
    padding-right: 3em;
}

#play-form {
    width: 100%;
    height: 18em;
    padding: 0;
    margin: 0 auto 0 auto;
    top: 14%;
    position: relative;
}

#profile-header {
    background-color: var(--color-imperial-blue);
    position: relative;
}

/*#profile-photo-wrapper {
    width: 40%;
    height: 40%;
    clip-path: circle(40% at center);
    transform: translate(0, -40%);
    margin: 0 auto;
}*/

#profile-photo-wrapper {
    position: relative;
    width: 8em;
    height: 8em;
    clip-path: circle(40% at center);
    display: inline-block;
}

#profile-photo {
    position: relative;
    width: 100%;
    height: 100%;
}

#profile-photo-wrapper:hover {
    border-style: solid;
    border-width: 0.1em;
    border-radius: 60%;
}

#profile-photo-online {
    display: inline-block;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    clip-path: circle(46% at center);
    bottom: 1em;
    left: 6em;
}

#online-icon {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 168, 2);
}

#profile-info-wrapper {
    position: relative;
    width: calc(100% - 9em);
    height: 100%;
    display: inline-block;
}

#profile-name-wrapper {
    text-align: center;
    margin-top: -2.5em;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    display: inline-block;
}

#profile-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    display: inline-block;
}

#profile-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    display: inline-block;
}

#profile-stats {
    position: relative;
    background-color: var(--color-desire);
    height: 8em;
    text-align: center;
}

#search-bar {
    clear: both;

    height: 2.4375rem;
    margin-bottom: 1em;
}

#search-icon {
    padding: 1.5%;
    padding-top: 1.9%;
    
    height: 2.4375rem;
    width: 2.4375rem;
    
    float: right;
}


#search-icon-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#news-form-wrap {
    width: 100%;
    padding: 0;
}

#news-form-1 {
    background-color: var(--color-madder-lake);
}

#news-form-2 {
    background-color: var(--color-border-success);
}

#lobby-spacer {
    height: 2em;
}

#gotoDashboard {
    height: 5em;
    background-color: var(--color-main-2);
    cursor: pointer;
}

#gotoDashboard-text {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    z-index: 3;
}

#gotoDashboard-effect {
    transition: all 0.5s ease-in-out;
    width: 0%;
    margin: 0 auto;
    height: 5em;
    position: relative;
    background-color: #b13415;
    position: absolute;
    left: 50%;
}

#gotoDashboard-effect.shover {
    transition: all 0.5s ease-in-out;
    width: 100%;
    left: 0%;
}

#tatkin-logo {
    width: 2.6em;
    margin-right: 1.1em;
    height: 80%;

    display: none;
    opacity: 0.9;
}

#stats-tatkin-cont {
    height: 7em;
    width: 18em;
    position: relative;
}

#stats-tatkin-cont:hover {
    background-color: rgba(0, 0, 0, 0.089);
}

#stats-logo-cont {
    height: 100%;
    width: 40%;
    float: left;
}

#stats-logo {
    width: 66%;
    height: 66%;
}

#stats-xp-cont {
    text-align: left;
    padding-top: 1.9em;
    line-height: 1.7em;
}

#stats-xp {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.form-center {
    position: absolute;
    width: 30em;
    height: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

#search-results {
    margin-bottom: 1em;
}

#search-box-cont {
    display: inline-block;
    width: calc(100% - 2.5375rem);
}

#search-box-mdc {
    width: 100%;
    height: 2.4375rem;
}

.search-result-card-small {
    margin-bottom: 0.3em;
}

.not-following {
    background-color: theme-color('green', 'base');
}

.following {
    background-color: theme-color('green', 'dark');
}

.search-result-profile-picture {
    display: inline-block;
    height: 100%;
    width: 2.7em;
}

.search-result-name {
    display: inline-block;
    padding: 0.5em 0.7em;
}

.search-result-no-result-text {
    text-align: center;
}

#follow-button {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 1em;
    .mdc-button__label {
        font-size: 0.7em;
    }
}

.post-card-small-bg {
    padding: 0.7em 0.8em;
}

#fullscreen-button-hide {
    transition: width 0.5s ease-in-out;
    width: 0.2em;
    height: 2.5em;
    position: fixed;
    right: 1em;
    top: 1em;
    background-color: $mdc-theme-primary;
    cursor: pointer;

    &:hover {
        width: 2.5em;

        #fullscreen-button-content {
            transition: all 1s ease-in;
            opacity: 1;
        }

        #fullscreen-button-exit-content {
            transition: all 0.5s ease-in;
            opacity: 1;
        }
    }

    &:hover:before {
        transition: all 0.1s 0.5s linear;
        width: 2.5em;
        height: 2.5em;
    }

    #fullscreen-button-content, #fullscreen-button-exit-content {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#fullscreen-button-hide::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
}

#fullscreen-button-exit-content {
    display: none;
}

#fullscreen-button-content {
    display: block;
}

body:fullscreen {
    #fullscreen-button-exit-content {
        display: block;
    }

    #fullscreen-button-content {
        display: none;
    }
}

#creator-bar {
    #create-post-textfield {
        .mdc-notched-outline {
            @include mdc-notched-outline-color($mdc-theme--on-primary);
        }
    }

    margin-bottom: 1em;
}

#create-post-button {
    display: inline-block;
}

#create-course-button {
    display: inline-block;
}

@media screen and (max-width: 1300px) and (max-height: 800px) {
    #tatkoBtn {
        font-size: 1.2em;
    }
}

@media only screen and (max-height: 720px) {
    .form-center {
        width: 30em;
        height: 30em;
    }
}

@media only screen and (max-width: 530px) {
    .form-center {
        width: 30em;
        height: 30em;
    }
}

@media only screen and (max-width: 482px) {
    .form-center {
        width: 100%;
        height: 22em;
    }

    #tatkoBtn {
        padding-right: 2em;
    }

    #profile-photo-online {
        width: 1.4em;
        height: 1.4em;
        transform: translate(164%, -480%);
    }

    .btn-special {
        height: 3.3em;
    }
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 80%;
    }

    .search-result-profile-picture {
        width: 3.5em;
    }
}