@import "variables.scss";

@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/button/mdc-button";
@import "@material/ripple/mdc-ripple";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/character-counter/mdc-text-field-character-counter";
@import "@material/floating-label/mdc-floating-label";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";

// Basic theme for a button
.mdc-button {
	@include mdc-button-container-fill-color($mdc-theme-primary);
	@include mdc-button-ink-color(white);

	@include mdc-elevation(0);
	&:disabled,
	&:visited,
	&:focus,
	&:not(:disabled),
	&:not(:hover) {
		@include mdc-elevation(0);
	}

	&:active {
		@include mdc-elevation(4);
	}
}

.mdc-button__label {
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.mdc-text-field {
	@include mdc-text-field-ink-color($mdc-theme--on-primary);
	@include mdc-text-field-fill-color(rgba(255, 255, 255, 0.288));
}

.mdc-text-field__input {
	&::placeholder {
		color: $mdc-theme--on-primary;
	}

	&::placeholder:hover {
		color: $mdc-theme--on-primary;
	}
}

.mdc-text-field--fullwidth {
	@include mdc-text-field-fill-color(rgba(255, 255, 255, 0.288));

	&.mdc-text-field--textarea {
		@include mdc-text-field-fill-color(transparent);
		@include mdc-text-field-outline-color($mdc-theme--on-primary);
		@include mdc-text-field-label-color($mdc-theme--on-primary);
	}

	&:not(.mdc-text-field--textarea) {
		.mdc-text-field__input {
			padding-left: $mdc-text-field__input-padding;
		}
	}

	@include mdc-text-field-character-counter-color(theme-color('on-primary', 'base'));
	@include mdc-text-field-height(50px);
}

.mdc-text-field--no-label {
	@include mdc-text-field-height(50px);
}

.mdc-card-content {
	padding: 16px;
}