.logo-text {
    text-align: center;
    font-family: 'Kapak';
    font-size: 3em;
    background-color: transparent;
    color: rgb(250, 250, 250);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
}

$znam-color: #f26726;
$zbor-color: #1b4f52;

#znamBtn {
    background-color: $znam-color;
}

#znamBtn:hover {
    background-color: darken($color: $znam-color, $amount: 8%);
}

#znamBtn.active {
    /*background-color: #163c4b;
    color: #ffffff;*/

    animation: pop 0.5s ease-out;
	background: radial-gradient(circle at center, darken($color: $znam-color, $amount: 12%) 5%, darken($color: $znam-color, $amount: 8%) 6%);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
    transform-origin: center;
}

#zborBtn {
    background-color: $zbor-color;
}

#zborBtn:hover {
    background-color: darken($color: $zbor-color, $amount: 8%);
}

#zborBtn.active {
    /*background-color: #163c4b;
    color: #ffffff;*/

    animation: pop 0.5s ease-out;
	background: radial-gradient(circle at center, darken($color: $zbor-color, $amount: 12%) 5%, darken($color: $zbor-color, $amount: 8%) 6%);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
    transform-origin: center;
}

#znam-logo {
    width: 3.5em;
    float: left;
}

@media screen and (max-width: 1300px) and (max-height: 800px) {
    #tatkoBtn {
        font-size: 1.2em;
    }
}

.btn-special {
    height: 4.6em;
}

#schoolBtn {
    font-size: 1.1em;
    width: 100%;
}

#registerBtn {
    width: 100%;
    font-size: 0.9em;
    padding-bottom: 1em;
    color: white;
}

#loggingBtn, #pickSchoolBtn {
    width: 100%;
    font-size: 1.15em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-bottom: 0.4em;
}

#recentSchoolBtn {
    width: 100%;
    font-size: 0.95em;
}

#school-form {
    display: none;
}

#school-big-text {
    font-size: 2em;
}

#form-msg {
    font-size: 0.9em;
    line-height: 1;
    text-align: center;
    color: #ffe1d5;
    width: 100%;
    height: 0em;
    display: block;
}

#login-password {
    margin-top: -0.5em;
}

#nickname {
    width: 100%;
}

#password {
    width: 100%;
}

.info-form {
    padding: 0.7em 0.7em 0.7em 1em;
    margin: 0.7em 0 0 0
}

#info-form {
    width: 68%;
    height: unset;
}

#teachers-info-form {
    background-color: var(--color-imperial-blue);
}

#students-info-form {
    background-color: var(--color-border-success);
}

#parents-info-form {
    background-color: var(--color-main-2);
}

#parents-info-form:hover {
    background-color: var(--color-main-2-h);
}

#parents-info-form.rotation {
    transform: rotate3d(1, 0, 0, 90deg);
    transition: all 0.3s ease-in;
}

#parents-info-form.rotation2 {
    transform: rotate3d(1, 0, 0, 180deg);
    transition: all 0.3s ease-in;
}

.reverse-rotation {
    transform: rotate3d(1, 0, 0, 180deg);
}

#info-form-cont {
    width: 40%;
    float: left;
}

#about-cont {
    width: 50%;
    float: right;
    background-color: var(--color-0-main);
    padding: 0.7em 0.7em 0.7em 1em;
    margin: 0.7em 0 0 0;
}

#founder-picture {
    width: 8em;
    width: 8em;
    float: right;
}

#stats {
    height: 100%;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-wrapper {
    width: 100%;
    height: 100%;
}

.iframe-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

@media screen and (max-width: 833px) {
    #info-form-cont {
        width: 100%;
    }

    #about-cont {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #info-form {
        width: 85%;
    }
}