$theme-colors: (
  'primary': (
    'base': #44aed8,
    'light': #e4efff,
    'dark': #183F4F
  ),
  'on-primary': (
    'base': #e4efff
  ),
  'accent': (
    'base': #F2523A,
    // 'base': #D64933,
    'light': #ff8100,
    'dark': rgb(128, 45, 32)
  ),
  'green': (
    'base': #46A072,
    'light': #62d89b,
    'dark': #327251
  ),
  'desire': (
    'base': #ea3546,
    'light': #ea3546,
    'dark': #ea3546
  ),
  'yellow': (
    'base': #F4F066,
    'light': #F4F066,
    'dark': #F4F066
  )
);

@function theme-color($key: 'primary', $variant: 'base') {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

$mdc-shape-small-component-radius: 0px;
$mdc-shape-medium-component-radius: 0px;
$mdc-shape-large-component-radius: 0px;

$mdc-theme-primary: #1c4b5e;
$mdc-theme-secondary: #c94028;
$mdc-theme-background: #fff;

$mdc-theme--on-primary: #ffffff;
$mdc-theme--on-secondary: #ffffff;
$mdc-theme--on-surface: #ffffff;

$mdc-elevation-transition-duration: 100ms;

$mdc-ripple-light-ink-opacities: (
  hover: .02,
  focus: .0,
  press: .12,
  selected: .0,
  activated: .0
);

$mdc-text-field__input-padding: 0.6em;