.logo-text {
  text-align: center;
  font-family: 'Kapak';
  font-size: 1.3em;
  background-color: transparent;
  color: #fafafa;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

#register-big-text {
  font-size: 2.1em; }

#school-big-text {
  margin-bottom: 0.1em; }

#maleBtn, #femaleBtn {
  font-size: 0.9em; }

.prevPageBtn {
  float: left; }

.nextPageBtn {
  float: right; }

#school-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 19em; }

#schools {
  margin-bottom: 0.3em; }

/*@media only screen and (max-width: 720px) {	
	#school-form {
        top: 20%;
    }
}*/
#teacher-email-note {
  font-size: 0.8em;
  padding: 0.5em 0.7em 0.7em 0.7em;
  margin-top: -1em;
  margin-bottom: 1em; }
