#dashboard-left {
    width: calc(100% - 29vw);
    height: 100%;
    float: left;
    background-color: var(--color-main-2);
}

#dashboard-right {
    width: 29vw;

    height: 100%;
    float: right;
    background-color: var(--color-main-1);
}

#background-image-title {
    background-image: url("./../../static/img/word-cloud.png");
    background-position: center 15%;
    background-size: 1000px;
    background-repeat: repeat;

    position: absolute;
    opacity: 0.1;

    width: calc(100% - 29vw);
    height: 40%;
}

#students {
    width: 100%;
    height: 100%;
}

.onhover-slide {
    width: 0;
    height: 100%;
    float: left;
    background-color: var(--color-main-1);
    margin-right: 1.2em;
}

.student-rank {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5em;
    height: 5%;
    background-color: var(--color-main-1-1);
    cursor: pointer;
}

.student-rank:nth-child(2n) {
    background-color: var(--color-main-1-2);
}

.student-rank:hover {
    background-color: var(--color-main-1-1-h);
}

.student-rank:hover .onhover-slide {
    width: 5px;
}

.student-rank:nth-child(2n):hover {
    background-color: var(--color-main-1-2-h);
}

.rank-icon {
    height: 2em;
    width: 2em;
    border-style: dashed;
    border-width: 1px;
    border-color: #ffffffdb;
    border-radius: 50%;
    
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
}

.rank-icon.online {
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.rank-icon.connected {
    background-color: green;
}

.student-name {
    padding-left: 0.8em;
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.student-score {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    font-family: 'Roboto-Bold';
}

#stats-upper {
    height: 40%;
    width: 100%;
}

#stats-lower {
    height: 60%;
    width: 100%;
    background-color: var(--color-main-0-2);
}

#current-word-cont {
    width: 100%;
    height: 70%;
}

#current-word {
    width: fit-content;
    height: fit-content;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 4em;
    font-family: 'Roboto-Thin';
}

#control-buttons-corner {
    width: fit-content;
    height: fit-content;

    position: relative;
    top: calc(100% - 9em);
    left: calc(100% - 5em);
    transform: translate(0, -50%);
}

.control-btn {
    cursor: pointer;
}

#start-button {
    width: 20em;
    height: 6em;

    padding: 0.5em;

    border-style: solid;
    border-width: 0.5em;
    border-color: var(--color-main-1-1);
    background-color: var(--color-main-1);

    position: relative;
    left: 50%;

    transform: translate(-50%, 0);
}

#start-button:hover {
    border-color: var(--color-main-1-1-h);
    background-color: var(--color-main-1-1);
}

#pause-button {
    width: 4em;
    height: 4em;

    padding: 0.5em;

    border-style: solid;
    border-width: 0.5em;
    border-color: var(--color-main-3-1);
    background-color: var(--color-main-3-1);
}

#pause-button:hover {
    border-color: var(--color-main-1-1-h);
    background-color: var(--color-main-1-1);
}

#pause-icon-cont {
    width: fit-content;
    height: fit-content;
}

.c-btn-text {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.c-btn-mask, .c-btn-mask-s {
    height: calc(100% + 1em);
    width: calc(100% + 1em);
    position: absolute;
    float: left;
    transform: translate(0, -67%);

    background-image: url(../img/slide-animation.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -1em;
    
    opacity: 0.6;

    animation: gradient-animation 7s ease-in-out infinite;
}

.c-btn-mask-s {
    height: 100%;
    width: 100%;

    transform: translate(0, -62%);
}

/*.c-btn-mask::after {
    content: '';
    width: 100%;
    height: 100%;

    
    animation: gradient-animation 10s ease-in-out;
}*/

@keyframes gradient-animation {
    0% {
        background-position: 400% 0%;
    }

    100% {
        background-position: -500% 0%;
    }
}

#start-button > .c-btn-text {
    font-size: 2em;
    font-family: 'Roboto-Bold';
}

.s-l-options-section {
    width: 33.333%;
    height: 100%;

    float: left;
}

#o-s-1 {
    background-color: var(--color-main-3);
}

#o-s-2 {
    background-color: var(--color-main-3-1);
}

#o-s-3 {
    background-color: var(--color-main-3-2);
}

.option-list-button {
    width: 100%;
    background-color: var(--color-main-3-2);

    padding: 0.2em;
    padding-left: 2em;

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0 0 0 0;
    
    cursor: pointer;
}

.option-list-button:hover {
    border-width: 0 0 0 0.5em;
}

.option-list-textbox {
    height: fit-content;
    width: 100%;
    background-color: var(--color-main-0-2);

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0 0 0 0;

    padding: 0.6em;
    padding-left: 1em;
}

.option-list-button:hover {
    border-width: 0 0 0 0.5em;
}

.txt-up, .txt-down {
    height: 100%;
    width: 1em;

    font-size: 2em;
    transform: scale(1) translate(0, -0.3em);

    float: right;

    text-align: center;
    cursor: pointer;
}

.text-down {
    font-size: 4em;
}

.txt-up:hover, .txt-down:hover {
    transform: scale(1.2) translate(0, -0.3em);
}

.txt-value {
    height: 100%;
    width: 2em;

    float: right;
    transform: translate(0, -0.3em);

    font-size: 1.8em;
    text-align: center;
}

.option-list-checkbox {
    width: 100%;
    height: fit-content;

    background-color: var(--color-main-0-3);

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0 0 0 0;
    
    padding: 0.6em;
    padding-left: 1em;
}

.option-list-checkbox > .checkbox {
    width: 1.5em;
    height: 1.5em;

    float: left;
    margin-right: 0.5em;

    background-color: rgba(0, 0, 0, 0.432);
    
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1em;

    cursor: pointer;
}

.option-list-checkbox:hover {
    border-width: 0 0 0 0.5em;
}

.option-list-textbox:hover {
    border-width: 0 0 0 0.5em;
}

.check {
    background-image: url("./../../static/img/check.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#pick-btn {
    padding: 0.7em;
    font-size: 1.5em;
    font-family: 'Roboto-Bold';

    text-align: center;
}

#pick-btn.generating {
    font-size: 1em;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0 0.8em 0 0.8em;
}

#pick-done-btn {
    padding: 0.3em;
    font-size: 1em;
    font-family: 'Roboto-Bold';

    text-align: center;
}

#list-words-title {
    font-size: 0.9em;
    padding: 0.2em;
    padding-left: 0.5em;
    color: rgb(26, 26, 26);
    background-color: rgba(0, 0, 0, 0.247);
}

#list-words-title-w {
    font-size: 0.9em;
    padding: 0.2em;
    padding-left: 0.5em;
    color: rgb(241, 241, 241);
    background-color: rgba(0, 0, 0, 0.336);
}

#words-container {
    height: calc(100% - 8.1em);
    overflow-x: hidden;
    overflow-y: scroll;
}

#word-temp {
    margin-left: 2.7em;
    margin-right: 2.7em;
    color: rgb(26, 26, 26);

    position: relative;
    top: 50%;

    transform: translate(0, -50%);
    text-align: center;
}

#average-time-stats-cont {
    height: 40%;
    width: 100%;
}

#guess-rate-stats-cont {
    height: 40%;
    width: 100%;
}

iframe {
    border-width: 0;
    margin: 2em;
}

#average-time-frame {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
}

#guess-rate-frame {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
}

.refresh-icon {
    width: 2.5em;
    height: 2.5em;

    background-image: url("./../../static/img/refresh.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    cursor: pointer;

    transform: rotate(-50deg);
}

.refresh-icon:hover {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.word-renew {
    width: 2em;
    height: 2em;

    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -13%) rotate(-50deg);
}

.word-renew:hover {
    transform: translate(0, -13%) rotate(0deg);
    transition: 0.3s ease-in-out;
}

.word {
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.2);

    padding: 0.4em;
    padding-left: 2em;
}

.word:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.4);
}

.word.true {
    border-style: solid;
    border-color: rgba(0, 255, 21, 0.5);
    border-width: 0 0 0 0.5em;
}

.word.false {
    border-style: solid;
    border-color: rgba(255, 0, 21, 0.616);
    border-width: 0 0 0 0.5em;
}

#bluring-div.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#o-s-2.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}