@font-face {
    font-family: Kapak;
    src: url(/res/Kapak.ttf); 
}

.card-flex {
	display: flex;
}

.row-flex {
	display: flex;
}

.card-container {
	position: relative;
	margin: 0.5em;
}

.big-word {
	font-size: 3em;
	font-family: 'Kapak';
}

.medium-word {
	font-size: 2em;
	font-family: 'Kapak';
}

#search-bar-container {
	display: flex;
	flex: 1;
	margin-right: 3em;
}

#search-icon-container {
    display: flex;
	width: 3em;
	height: 3em;
	transform: translate(0, 0.5em);
}

.search-card-padding {
	padding: 0em 0em 0em 0.5em;
	margin-top: 0.5em;
}

.search-help {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.mistake-button-icon {
	margin-right: 0.3em;
}

.ai-word {
	height: fit-content;
}

#ai-refresh-container {    
	position: absolute;
    bottom: 0;
    right: 0;
	margin: 0.5em;
}

.navbar-container {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
}

.word-day {
	width: 100%;
}

#small-word-day-container {
	flex-grow: 1;
}