#connect-search-bar-container {
	display: flex;
	flex: 1;
}

#connect-search-icon-container {
    transform: translate(0, -0.5em);
}

#connect-icon {
    display: inline-block;
    font-size: 2em;
    margin: 0em 0.2em;
    transform: translate(0, 0.1em);
}

.small-info-spans {
    display: inline-block;
    margin-right: 0.5em;
}

.fire-number {
    display: inline;
    color: #ff9900;
    font-weight: 700;
    font-size: 1.5em;
}

.connect-number {
    display: inline;
    color: #00d636;
    font-weight: 700;
    font-size: 1.5em;
}