.github-icon, .github-text, .connect-text {
    width: fit-content;
    display: inline-block;
    color: white;
}

.icon-container {
    width: 4em;
    height: 4em;
    position: relative;
    float: right;
}

.github-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.github-text {
    width: calc(100% - 4.5em);
    font-size: 0.9em;
}

.connect-text {
    display: flex;
}

.card-flex {
    display: flex;
    align-items: center;
}

.caption-container {
    text-align: right;
}

.small-link {
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 0.9em
}

.small-link:active {
    background-color: rgba(0, 0, 0, 0.12);
}