#profile-header {
    position: relative;
    height: 12em;
}

#logout-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

#logout {
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#profile-img-container {
    float: left;
    padding: 1em;
}

#profile-img {
    background-image: url('./../img/ZNAM-character.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 5em;
    width: 5em;
    cursor: pointer;
}

#profile-content {
    text-align: left;
    padding: 0.5em;
    padding-top: 1em;
}

#profile-greeting {
    font-size: 0.8em;
    margin-bottom: 1em;
}
/*
#feedback-container {
    height: 10%;
}*/

#request-feature {
    width: 100%;
    margin-bottom: 1em;
}

#feedback {
    margin-bottom: 0.5em;
}

#profile-statistics {
    font-size: 0.5em;
}

#all-questions {
    margin-bottom: 0.5em;
}

#all-questions-bar {
    height: 0.45em;
}

.activity-score {
    font-size: 1.2em;
    font-weight: 700;
}

.connect-activities {
    background-color: #fff;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(0, -50%);
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.2em;
}