/*@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css");*/

#question-container {
    width: 100%;
    height: 95%;
    position: relative;
}

#question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 38%;
    text-align: center;
    padding: 2%;
}

#question-content {
    padding: 0.8em;
    font-size: 1em;
    text-align: center;
}

#question-chip {
    position: absolute;
    bottom: 1em;
    right: 0;
}

.answer-content {
    font-size: 1em;
    text-align: center;
}

#score-container {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-size: 2.5em;
    font-weight: 700;
}

#time-container {
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    font-size: 2.5em;
    font-weight: 300;
}

#time-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.3em;
}

#answers-container {
    text-align: center;
    position: relative;
    height: 60%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.answer {
    position: relative;
    margin: 2%;
    width: 96%;
    height: 21%;
}

.ZNAMAnswer-active {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #01354b;
    left: 50%;
    transform: translate(-50%, 0);
}

.ZNAMAnswer-active:hover {
    background-color: #012a3b;
}

.ZNAMAnswer-correct {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #057d05;
    left: 50%;
    transform: translate(-50%, 0);
    transition: width 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.ZNAMAnswer-correct:hover {
    background-color: #046804;
}