#selector-subject-container {
    width: 100%;
    height: 100%;
}

#selector-subject {
    width: 100%;
    height: 52%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.subject {
    width: 31%;
    height: 31%;
    margin: 1%;
}

.subject-content {
    height: 88%;
}

.subject-content:hover {
    font-size: 1.01em;
}

.subject-icon {
    height: 80%;
}

.subject-icon-img {
    width: 1.5em;
}

.subject-icon-img:hover {
    width: 1.7em;
}

.subject-name {
    width: 100%;
    position: absolute;
    bottom: 0.5em;
    font-size: 0.5em;
    text-align: center;
    padding: 0 0.6em;
}

.subject-progress {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    background-color: rgba(0, 128, 0, 0.712);
    transition: height 1s ease-in-out;
}

#game-options {
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

#notifications {
    height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

#play-button-container {
    position: relative;
    height: 4em;
}