.connect-text {
    width: fit-content;
    display: inline-block;
    color: white;
}

.connect-text {
    display: flex;
}

.card-flex {
    display: flex;
    align-items: center;
}

.caption-container {
    text-align: right;
}

.small-link {
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 0.9em
}

.small-link:active {
    background-color: rgba(0, 0, 0, 0.12);
}

.download-card-container {
    width: 100%;
    position: relative;
    padding-top: 1em;
}

.download-card-chip-cont {
    position: absolute;
    top: 0em;
    right: 1em;
}