* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f26726; /* #fe671f;*/
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

@font-face {
    font-family: Kapak;
    src: url(/res/Kapak.ttf); 
}

.App {
    text-align: center;
}

.center-vh {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-v {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.center-h {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.form-center {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 50vh;
	height: 85%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
}

#platform-title {
    font-family: 'Kapak';
    font-size: 3em;
    text-align: center;
}

#login-buttons {
    position: relative;
    height: 8em;
}

#facebook-signin {
    width: 3em;
    height: 3em;
    color: white;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

#small-footer {
    text-align: right;
    font-size: 0.8em;
    height: 5%;
    padding-right: 0.8em;
}

.separator {
    margin-bottom: 1em;
}

.navbar-container {
    position: absolute;
    width: 100vw;
    bottom: 0;
}

#introduction {
    padding: 1em;
    font-size: 0.95em;
}

#platform-icon {
    float: left;
    padding: 0.5em;
    height: 12em;
}

#platform-icon-img {
    background-image: url('./img/ZNAM-character.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 10em;
    width: 10em;
    cursor: pointer;
}

#platform-icon-img:after{
    display: none;
    content: url('./img/ZNAM-character-hover.png');
}

#platform-icon-img:hover {
    background-image: url('./img/ZNAM-character-hover.png');
}

#auth-container {
    clear: both;
}

@media only screen and (max-height: 720px) {
    .form-center {
        width: 30em;
        height: 30em;
    }
    
    #introduction {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 530px) {
    .form-center {
        width: 30em;
        height: 90vh;
        position: relative;
        top: 0%;
        left: 0%;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    
    #introduction {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 482px) {
    .form-center {
        width: 100%;
        height: 90vh;
        position: relative;
        top: 0%;
        left: 0%;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }

    #introduction {
        font-size: 0.9em;
    }
}